@model List<ContactUs.Models.Message>
@{
    var counter = 1;
}
@section Style
{
    <style>
        thead th {
            text-align: right;
        }

        thead {
            box-shadow: 0 0 2px 0 gray;
            background: #0000000d;
        }

        body {
            background-image: url('/images/bg-01.jpg');
            background-size: cover;
        }
    </style>
}



<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            <h5>لیست پیام ها</h5>
        </div>
        <div class="card-body">
            <table class="table text-right table-bordered table-hover ">
                <thead>

                    <tr>
                        <th>
                            #
                        </th>
                        <th>عنوان</th>
                        <th>نام و نام خانوادگی</th>
                        <th>پیام</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@counter</td>
                            <td>@item.Subject</td>
                            <td>@item.FullName</td>
                            <td>@item.MessageBody</td>
                        </tr>

                        counter += 1;
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>