@page
@model Blog.Pages.Auth.RegisterModel
@{
    Layout = "Shared/_AuthLayout";
    ViewData["Title"] = "ثبت نام";
}

<form method="post">
    <h1>@ViewData["Title"]</h1>
    <div>
        <input asp-for="Username" type="text" placeholder="نام کاربری" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <input asp-for="Fullname" type="text" placeholder="نام و نام خانوادگی" />
        <span asp-validation-for="Fullname"></span>
    </div>
    <div>
        <input asp-for="Password" type="password" placeholder="کلمه عبور" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input type="submit" value="ثبت نام" />
        <a asp-page="Login">ورورد به سایت</a>
    </div>
</form>
