@{
    ViewData["Title"] = "دستع بندی ها";
    int counter = 1;
}

<section class="content-header">
    <h1>
        @ViewData["Title"]
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="Admin" asp-controller="Category" asp-action="Index"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">@ViewData["Title"]</li>
    </ol>
</section>

<section>

</section>