@model Areas.Admin.Models.Categories.EditCategoryModel
@{
    ViewData["Title"] = "Edit Category";
    int counter = 1;
}

<section class="content-header">
    <h1>
        @ViewData["Title"]
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li><a asp-area="Admin" asp-controller="Category" asp-action="Index"><i class="fa fa-dashboard"></i>Categories</a></li>
        <li class="active">@ViewData["Title"]</li>
    </ol>
</section>

<section>
    <form class="box box-body row" method="post" asp-action="Edit" asp-area="Admin" asp-controller="Category">
        <div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control"/>
                    <span asp-validation-for="Title"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Slug"></label>
                    <input asp-for="Slug" class="form-control" />
                    <span asp-validation-for="Slug"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="MetaTag"></label>
                    <input asp-for="MetaTag" class="form-control" />
                    <span asp-validation-for="MetaTag"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="MetaDescription"></label>
                    <textarea asp-for="MetaDescription" class="form-control"></textarea>
                    <span asp-validation-for="MetaDescription"></span>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-success" type="submit">Save</button>
        </div>
    </form>

</section>