<div style="padding:10px">
    <ul class="pagination" style="display:inline-block">
        <li class="paginate_button previous disabled">
            <a href="#">Pervious</a>
        </li>
        <li class="paginate_button active">
            <a href="javascript:void(0)">1</a>
        </li>
        <li class="paginate_button next disabled">
            <a href="javascript:void(0)">Next</a>
        </li>
        <li class="paginate_button next">
            <a href="#">Next</a>
        </li>
    </ul>
</div>