@using DI.Services
@inject ITransientNumberService _transient;
@inject IScopeNumberService _scope;
@{
    var scope = _scope.GetNumber();
    var tran = _transient.GetNumber();
}
<h1>Welcome</h1>
<hr />
<h4>transient : @ViewData["transient"]</h4>
<h4>transient 2 : @tran</h4>
<h4>scopeNumber : @ViewData["scopeNumber"]</h4>
<h4>scopeNumber 2 :@scope</h4>
<h4>singleton: @ViewData["singleton"]</h4>